@code {
  [Parameter] public EventCallback<string> SetActivePage { get; set; }
  private void GoBack() {
    SetActivePage.InvokeAsync("voxel");
  }
}

<div>
  <h2>Describe Component</h2>
  <button @onclick="GoBack">Back to Menu</button>
</div>
