@code {
  [Parameter] public EventCallback<string> SetActivePage { get; set; }
  private void GoBack() { SetActivePage.InvokeAsync("voxel"); }
}

<div>
  <h2>説明</h2>
  <button @onclick="GoBack">もどる</button>
</div>
