@code {
  [Parameter] public EventCallback<string> SetActivePage { get; set; }
  private void ChangePage(string page) { SetActivePage.InvokeAsync(page); }
}

<div>
  <h1>Images to Voxel</h1>
  <button @onclick="@(() => ChangePage("voxel"))">Tap to start</button>
</div>
