@code {
  [Parameter] public EventCallback<string> SetActivePage { get; set; }
  private void ShowVoxelAndMenu() { SetActivePage.InvokeAsync("voxel"); }
}

<div>
  <h1>Images to Voxel</h1>
  <button @onclick="ShowVoxelAndMenu">Tap to start</button>
</div>
